<div class="breadcrumbs">
  <div class="container">
    <h2>Python Videos</h2>
    <p>Learn python from scartch to advance level.</p>
  </div>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Python</li>
  </ol>
</nav>

<div class="container py-5">
  <div class="row mb-2">
    <div class="col-sm-3 col-md-2 col-lg-2 ml-auto">
      <a class="watchlist_btn" href="https://www.youtube.com/watch?v=KLs3mfKr6_g&list=PLeezZoxwQdosj9ssWOfP60eG8wiqTyN_B" target="_blank"><i class="ri-play-circle-fill mr-1"></i> Open Playlist</a>
    </div>
  </div>
  <ul class="list-stle-none pl-0 videoList">
    <li class="mb-3" *ngFor="let videosData of pythonVideosData; let index = index">
      <div class="d-flex align-items-center flex_wrap">
        <div class="videoThumbnail mr-2">
          <a class="d-block" target="_blank" href={{videosData.url}}> 
            <img src="https://via.placeholder.com/100" class="img-fluid">
           </a>
        </div>
        <div class="videoDetails">
          <h3> {{videosData.title}} </h3>
          <div class="mt-2">
            <span class="duration d-flex align-items-center flex_nowrap">
              <i class="ri-time-line mr-1"></i>Duration: 23:00 min
              <a class="play_btn ml-3" href="{{videosData.url}}" target="_blank"><i class="ri-play-circle-fill mr-1"></i> Watch Now</a>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
