

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Tesolo Tech</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <!-- <li><a href="about.html">About</a></li> -->
          <li><a href="courses.html">Courses</a></li>
          <li class="drop-down"><a href="">Videos</a>
            <ul>
              <li><a href="/Python" [routerLink]="['/Python']">Python</a></li>
              <li><a href="/Javascript" [routerLink]="['/Javascript']">Javascript</a></li>
              <li><a href="#">Angular</a></li>
              <li><a href="#">ReactJS</a></li>
              <li><a href="/Html" [routerLink]="['/Html']">HTML-5</a></li>
              <li><a href="/Css" [routerLink]="['/Css']">CSS-3</a></li>
              <li><a href="/Bootstrap" [routerLink]="['/Bootstrap']">Bootstrap</a></li>
              <li><a href="/Linux" [routerLink]="['/Linux']">Linux</a></li>
              <li><a href="/Java" [routerLink]="['/Java']">Java</a></li>
              <li><a href="/Hacking" [routerLink]="['/Hacking']">Hacking</a></li>
              <li><a href="/Entertainment" [routerLink]="['/Entertainment']">Entertainment</a></li>
            </ul>
          </li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="/Videos" [routerLink]="['/Videos']" class="get-started-btn">View All Videos</a>

    </div>
  </header><!-- End Header -->

  <router-outlet></router-outlet>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Tesolo Tech</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/megasoft909" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/techchora" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/kumar_vikash_909/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/tesolotech" target="_blank" class="google-plus"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/vikash-kumar-742b62151/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

